@model FinancialAssetsApp.Models.Crypto
@{
    ViewData["Title"] = "Add cryptocurrency";
}
<div class="container">
    <h2>Add cryptocurrency</h2>
    <form asp-action="Create" method="post">
        <div>
            <label asp-for="Ticker" class="form-label">Ticker *</label>
            <input asp-for="Ticker" id="TickerInput" class="form-control"/>
            <span asp-validation-for="Ticker" class="text-danger"></span>

        </div>
        <div>
            <label asp-for="NameCrypto" class="form-label">Name cryptocurrency</label>
            <input asp-for="NameCrypto" type="text" pattern="[A-Za-zА-Яа-яЁё\s\-]+" title="You can enter only letters" class="form-control" />
        </div>
        <div>
            <label asp-for="Price" class="form-label">Purchase price *</label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="AmountCrypto" class="form-label">Quantity *</label>
            <input asp-for="AmountCrypto" type="text" class="form-control" />
            <span asp-validation-for="AmountCrypto" class="text-danger"></span>
        </div>
        <p></p>
        <div>
            * - Required fields
        </div>
        <p></p>

        <button type="submit" class="btn btn-primary">Add cryptocurrency</button>
        <a asp-action="IndexCrypto" class="btn btn-secondary">Cancel</a>

    </form>
    
</div>

