@model FinancialAssetsApp.Models.Crypto
@{
    ViewData["Title"] = "Delete cryptocurrency";
}
<h2>Delete cryptocurrency</h2>

<h4>Are you sure you want to delete the cryptocurrency "@Model.Ticker - @Model.NameCrypto"?</h4>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="IndexCrypto" class="btn btn-secondary">Cancel</a>
</form>