@model FinancialAssetsApp.Models.Currency
@{
    ViewData["Title"] = "Add currency";
}
<div class="container">
    <h2>Add currency</h2>
    <form asp-action="CreateCurrency" method="post">
        <div>
            <label asp-for="NameCurrency" class="form-label">Currency name *</label>
            <input asp-for="NameCurrency" id="NameInputCurrency" class="form-control"/>
            <span asp-validation-for="NameCurrency" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Price" class="form-label">Purchase price *</label>
            <input asp-for="Price" class="form-control"/>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="AmountCurrency" class="form-label">Quantity *</label>
            <input asp-for="AmountCurrency" class="form-control" />
            <span asp-validation-for="AmountCurrency" class="text-danger"></span>
        </div>
        <p></p>

        <button type="submit" class="btn btn-primary">Add currency</button>
        <a asp-action="IndexCurrency" class="btn btn-secondary">Cancel</a>
    </form>
    <div>
        * - Required fields
    </div>
</div>

