@model FinancialAssetsApp.Models.Currency
@{
    ViewData["Title"] = "Добавить валюту";
}
<div class="container">
    <h2> Добавить валюту</h2>
    <form asp-action="CreateCurrency" method="post">
        <div>
            <label asp-for="NameCurrency" class="form-label">Название валюты *</label>
            <input asp-for="NameCurrency" id="NameInputCurrency" class="form-control"/>
            <span asp-validation-for="NameCurrency" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Price" class="form-label">Цена покупки *</label>
            <input asp-for="Price" class="form-control"/>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="AmountCurrency" class="form-label">Сумма валюты *</label>
            <input asp-for="AmountCurrency" class="form-control" />
            <span asp-validation-for="AmountCurrency" class="text-danger"></span>
        </div>
        <p></p>

        <button type="submit" class="btn btn-primary">Добавить валюту</button>
        <a asp-action="IndexCurrency" class="btn btn-secondary">Отмена</a>
    </form>
    <div>
        * - Обязательные поля для заполнения
    </div>
</div>

