@model FinancialAssetsApp.Models.Currency
@{
    ViewData["Title"] = "Delete currency";
}
<h2>Delete currency</h2>

<h4>Do you really want to delete the currency "@Model.CharCode - @Model.NameCurrency"?</h4>

<form asp-action="DeleteCurrency" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>