@model FinancialAssetsApp.Models.RealEstate
@{
    ViewData["Title"] = "Add real estate";
}

<div class="container">
    <h2>Add real estate</h2>

    <form asp-action="Create" method="post">
        <div>
            <label asp-for="TypeEstate" class="form-label">Property type *</label>
            <select asp-for="TypeEstate" class="form-control" asp-items="ViewBag.REType">
                <option value="" disabled selected hidden>- Select property type</option>
            </select>
            <span asp-validation-for="TypeEstate" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="CityEstate" class="form-label">Property location *</label>
            <input asp-for="CityEstate"
                   id="CityInput"
                   class="form-control"
                   placeholder="Enter the city where your property is located" />
            <span asp-validation-for="CityEstate" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="Price" class="form-label">Purchase price *</label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="AmountEstate" class="form-label">Property quantity *</label>
            <input asp-for="AmountEstate" class="form-control" />
            <span asp-validation-for="AmountEstate" class="text-danger"></span>
        </div>

        <p></p>

        <button type="submit" class="btn btn-primary">Add real estate</button>
        <a asp-action="IndexRealEstate" class="btn btn-secondary">Cancel</a>
    </form>

    <div>
        * – Required fields
    </div>
</div>


