@model FinancialAssetsApp.Models.RealEstate
@{
    ViewData["Title"] = "Delete real estate";
}

<h2>Delete real estate</h2>

<h4>
    Are you sure you want to delete the real estate
    "@Model.TypeEstate" located in "@Model.CityEstate"?
</h4>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />

    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="IndexEstate" class="btn btn-secondary">Cancel</a>
</form>
