@model FinancialAssetsApp.Models.Metal
@{
    ViewData["Title"] = "Add metal";
}
<div class="container">
    <h2>Add metal</h2>

    <form asp-action="Create" method="post">
        <div>
            <label asp-for="NameMetal" class="form-label">Metal name *</label>
            <select asp-for="NameMetal" class="form-control" asp-items="ViewBag.Metals">
                <option value="" disabled selected hidden>- Select metal</option>
            </select>
            <span asp-validation-for="NameMetal" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="Price" class="form-label">Purchase price *</label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="AmountMetal" class="form-label">
                Quantity (in grams) *
            </label>
            <input asp-for="AmountMetal" class="form-control" />
            <span asp-validation-for="AmountMetal" class="text-danger"></span>
        </div>

        <p></p>

        <button type="submit" class="btn btn-primary">Add metal</button>
        <a asp-action="IndexMetals" class="btn btn-secondary">Cancel</a>
    </form>

    <div>
        * — Required fields
    </div>
</div>
