@model FinancialAssetsApp.Models.Metal
@{
    ViewData["Title"] = "Delete metal";
}

<h2>Delete metal</h2>

<h4>Are you sure you want to delete the metal "@Model.NameMetal"?</h4>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="IndexMetals" class="btn btn-secondary">Cancel</a>
</form>
