@model FinancialAssetsApp.Models.Startup
@{
    ViewData["Title"] = "Add Startup";
}

<div class="container">
    <h2>Add Startup</h2>

    <form asp-action="Create" method="post">
        <div>
            <label asp-for="NamePlatform" class="form-label">
                Platform Name *
            </label>
            <select asp-for="NamePlatform"
                    class="form-control"
                    asp-items="ViewBag.PlatformStartup">
                <option value="" disabled selected hidden>
                    - Select a platform
                </option>
            </select>
            <span asp-validation-for="NamePlatform" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="NameCompany" class="form-label">
                Company Name *
            </label>
            <input asp-for="NameCompany" class="form-control" />
        </div>

        <div>
            <label asp-for="Price" class="form-label">
                Purchase Price *
            </label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="AmountStock" class="form-label">
                Quantity *
            </label>
            <input asp-for="AmountStock" class="form-control" />
            <span asp-validation-for="AmountStock" class="text-danger"></span>
        </div>

        <p></p>

        <button type="submit" class="btn btn-primary">
            Add Startup
        </button>

        <a asp-action="Index" class="btn btn-secondary">
            Cancel
        </a>
    </form>

    <div>
        * Required fields
    </div>
</div>


