@model FinancialAssetsApp.Models.PlatformStartup
@{
    ViewData["Title"] = "Delete Startup Platform";
}

<h2>Delete Platform</h2>

<h4>Are you sure you want to delete the platform "@Model.NamePlatform"?</h4>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
